# Onfido Ruby Library

The official Ruby library for integrating with the Onfido API.

Documentation can be found at <{{ documentationUrl }}>.

This version uses Onfido API {{ apiVersion }}. Refer to our [API versioning guide](https://developers.onfido.com/guide/api-versioning-policy#client-libraries) for details of which client library versions use which versions of the API.

[![Gem Version](https://badge.fury.io/rb/{{{gemName}}}.svg)](https://badge.fury.io/rb/{{{gemName}}})
![Build Status](https://github.com/onfido/{{{gitRepoId}}}/actions/workflows/ruby.yml/badge.svg)

## Installation & Usage

### Installation

```ruby
gem {{{gemName}}}, '~> {{gemVersion}}'
```

Configure with your API token, region and optional timeout (default value is 30):

```ruby
require {{{gemName}}}

Onfido.configure do |config|
  config.api_token = ENV["ONFIDO_API_TOKEN"]
  config.region = config.region[:EU]
  config.timeout = 30
end

onfido_api = Onfido::DefaultApi.new
```

All resources share the same interface when making API calls. Use `.create` to create a resource, `.find` to find one, and `.all` to fetch all resources.

### Making a call to the API

```ruby
applicant = onfido_api.create_applicant(
  first_name: 'Test',
  last_name: 'Applicant'
)
```

Documentation and code examples can be found at https://documentation.onfido.com

## Error Handling

All errors are wrapped by `ApiError` coming from [FaradayExpection](https://www.rubydoc.info/github/lostisland/faraday/Faraday/ClientError):

- `Connection timed out` is raised in case of `Faraday::TimeoutError`
- `Connection failed` is raised in case of `Faraday::ConnectionFailed`

All errors provide the `response_code`, `response_body`, `json_body`, `type` and `fields` of the error.

```ruby
def create_applicant
  onfido_api.create_applicant(params)
rescue Faraday::ConnectionFailed => e
  e.type          # => 'validation_error'
  e.fields        # => { "email": { "messages": ["invalid format"] } }
  e.response_code # => '422'
end
```

### Webhook event verification

Webhook events payload needs to be verified before it can be accessed. Library allows to easily decode the payload and verify its signature before returning it as an object for user convenience:

```ruby
  require 'onfido/webhook_event_verifier'

  def webhook_verifier()
    verifier = Onfido::WebhookEventVerifier.new(ENV["ONFIDO_WEBHOOK_SECRET_TOKEN"])

    signature = "a0...760e"

    event = verifier.read_payload('{"payload":{"r...3"}}', signature)

  rescue Onfido::OnfidoInvalidSignatureError => e
    e.type
    e.fields
    e.response_code
  end
```

{{>README_footer}}
