openapi: 3.0.0
info:
  title: Onfido Public API v3.6
  version: v3.6
  description: The Onfido Public API (v3.6)
  contact:
    name: Onfido
    url: https://public.support.onfido.com
  license:
    name: MIT
servers:
  - url: https://api.{region}.onfido.com/v3.6
    variables:
      region:
        enum:
          - eu
          - us
          - ca
        default: eu
security:
  - Token: []
components:
  securitySchemes:
    Token:
      type: apiKey
      name: Authorization
      in: header
externalDocs:
  url: https://documentation.onfido.com
paths:
  #
  # CORE RESOURCES
  #
  # Applicants
  /applicants:
    $ref: paths/applicants.yaml#/applicants
  /applicants/{applicant_id}:
    $ref: paths/applicants.yaml#/applicant
  /applicants/{applicant_id}/restore:
    $ref: paths/applicants.yaml#/restore
  /applicants/{applicant_id}/consents:
    $ref: paths/applicants.yaml#/consents
  # Workflow Runs
  /workflow_runs:
    $ref: paths/workflow_runs.yaml#/workflow_runs
  /workflow_runs/{workflow_run_id}:
    $ref: paths/workflow_runs.yaml#/retrieve
  /workflow_runs/{workflow_run_id}/signed_evidence_file:
    $ref: paths/workflow_runs.yaml#/signed_evidence_file
  /workflow_runs/{workflow_run_id}/evidence_folder:
    $ref: paths/workflow_runs.yaml#/evidence_folder
  # Documents
  /documents:
    $ref: paths/documents.yaml#/documents
  /documents/{document_id}:
    $ref: paths/documents.yaml#/document
  /documents/{document_id}/download:
    $ref: paths/documents.yaml#/download
  /documents/{document_id}/nfc_face:
    $ref: paths/documents.yaml#/nfc_face
  /documents/{document_id}/video/download:
    $ref: paths/documents.yaml#/video/download
  # Signing Documents
  /signing_documents:
    $ref: paths/signing_documents.yaml#/signing_documents
  /signing_documents/{signing_document_id}:
    $ref: paths/signing_documents.yaml#/signing_document
  /signing_documents/{signing_document_id}/download:
    $ref: paths/signing_documents.yaml#/download
  # Live Photos
  /live_photos:
    $ref: paths/live_photos.yaml#/live_photos
  /live_photos/{live_photo_id}:
    $ref: paths/live_photos.yaml#/live_photo
  /live_photos/{live_photo_id}/download:
    $ref: paths/live_photos.yaml#/download
  # Live Videos
  /live_videos:
    $ref: paths/live_videos.yaml#/live_videos
  /live_videos/{live_video_id}:
    $ref: paths/live_videos.yaml#/live_video
  /live_videos/{live_video_id}/download:
    $ref: paths/live_videos.yaml#/download
  /live_videos/{live_video_id}/frame:
    $ref: paths/live_videos.yaml#/frame
  # Tasks
  /workflow_runs/{workflow_run_id}/tasks:
    $ref: paths/tasks.yaml#/tasks
  /workflow_runs/{workflow_run_id}/tasks/{task_id}:
    $ref: paths/tasks.yaml#/task
  /workflow_runs/{workflow_run_id}/tasks/{task_id}/complete:
    $ref: paths/tasks.yaml#/complete_task
  # Motion Captures
  /motion_captures:
    $ref: paths/motion_captures.yaml#/motion_captures
  /motion_captures/{motion_capture_id}:
    $ref: paths/motion_captures.yaml#/motion_capture
  /motion_captures/{motion_capture_id}/download:
    $ref: paths/motion_captures.yaml#/download
  /motion_captures/{motion_capture_id}/frame:
    $ref: paths/motion_captures.yaml#/frame
  # Monitors
  /watchlist_monitors:
    $ref: paths/watchlist_monitors.yaml#/watchlist_monitors
  /watchlist_monitors/{monitor_id}:
    $ref: paths/watchlist_monitors.yaml#/watchlist_monitor
  /watchlist_monitors/{monitor_id}/matches:
    $ref: paths/watchlist_monitors.yaml#/matches
  /watchlist_monitors/{monitor_id}/new_report:
    $ref: paths/watchlist_monitors.yaml#/new_report
  # ID Photos
  /id_photos:
    $ref: paths/id_photos.yaml#/id_photos
  /id_photos/{id_photo_id}:
    $ref: paths/id_photos.yaml#/id_photo
  /id_photos/{id_photo_id}/download:
    $ref: paths/id_photos.yaml#/download
  # Qualified Electronic Signature
  /qualified_electronic_signature/documents:
    $ref: paths/qualified_electronic_signature.yaml#/documents
  # Advanced Electronic Signature
  /advanced_electronic_signature/documents:
    $ref: paths/advanced_electronic_signature.yaml#/documents
  # Simple Electronic Signature
  /simple_electronic_signature/documents:
    $ref: paths/simple_electronic_signature.yaml#/documents
  # Timeline Files
  /workflow_runs/{workflow_run_id}/timeline_file:
    $ref: paths/timeline_files.yaml#/timeline_files
  /workflow_runs/{workflow_run_id}/timeline_file/{timeline_file_id}:
    $ref: paths/timeline_files.yaml#/retrieve
  #
  # OTHER ENDPOINTS
  #
  # Ping
  /ping:
    $ref: paths/ping.yaml#/ping
  # Webhooks
  /webhooks:
    $ref: paths/webhooks.yaml#/webhooks
  /webhooks/{webhook_id}:
    $ref: paths/webhooks.yaml#/webhook
  /webhooks/resend:
    $ref: paths/webhooks.yaml#/webhooks_resend
  # Address Picker
  /addresses/pick:
    $ref: paths/addresses.yaml#/pick
  # Generate SDK Tokens
  /sdk_token:
    $ref: paths/sdk_tokens.yaml#/sdk_token
  # Repeat attempts
  /repeat_attempts/{report_id}:
    $ref: paths/repeat_attempts.yaml#/repeat_attempts
  # Autofill
  /extractions:
    $ref: paths/extractions.yaml#/extractions
  # Fraud reporting (ALPHA)
  /results_feedback:
    $ref: paths/results_feedback.yaml#/results_feedback
  # Checks
  /checks:
    $ref: paths/checks.yaml#/checks
  /checks/{check_id}:
    $ref: paths/checks.yaml#/check
  /checks/{check_id}/resume:
    $ref: paths/checks.yaml#/resume
  /checks/{check_id}/download:
    $ref: paths/checks.yaml#/download
  # Reports
  /reports:
    $ref: paths/reports.yaml#/reports
  /reports/{report_id}:
    $ref: paths/reports.yaml#/report
  /reports/{report_id}/resume:
    $ref: paths/reports.yaml#/resume
  /reports/{report_id}/cancel:
    $ref: paths/reports.yaml#/cancel
