
This library is for backend use only, as it requires secret Onfido API tokens and should not be used in the frontend due to security reasons.

If you need to collect applicant data in the frontend of your application, we recommend that you use the Onfido SDKs:

- [iOS](https://github.com/onfido/onfido-ios-sdk)
- [Android](https://github.com/onfido/onfido-android-sdk)
- [Web](https://github.com/onfido/onfido-sdk-ui)
- [React Native](https://github.com/onfido/react-native-sdk)
