{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "Node.js library for the Onfido API",    {{! Updated description }}
  "author": "OpenAPI-Generator Contributors",
  "repository": {
    "type": "git",
    "url": "https://{{gitHost}}/{{gitUserId}}/{{gitRepoId}}.git"
  },
  "keywords": [
    "axios",
    "typescript",
    "openapi-client",
    "openapi-generator",
    "{{npmName}}",
    {{! Added keywords - BEGIN }}
    "{{gitUserId}}",
    "identity",
    "verification",
    "api"
    {{! Added keywords - END }}
  ],
  "license": "MIT",         {{! Updated license }}
  "main": "./dist/index.js",
  "typings": "./dist/index.d.ts",
{{#supportsES6}}
  "module": "./dist/esm/index.js",
  "sideEffects": false,
{{/supportsES6}}
  "scripts": {
    "test": "jest", {{! Added command for integration tests }}
    "build": "tsc{{#supportsES6}} && tsc -p tsconfig.esm.json{{/supportsES6}}",
    "prepare": "npm run build"
  },
  {{! Added block for package delivery }}
  "files": [
    "/dist"
  ],
  {{! Added block for integration tests }}
  "jest": {
    "preset": "ts-jest",
    "testEnvironment": "node",
    "moduleNameMapper": {
      "onfido-node": "<rootDir>/index",
      "axios": "axios/dist/node/axios.cjs"
    },
    "globals": {
      "ts-jest": {
        "tsconfig": "test/tsconfig.json"
      }
    }
  },
  "dependencies": {
    "axios": "^1.7.4" {{! Updated minimum Axios version to solve Dependabot alert }}
  },
  "devDependencies": {
    {{! Added dependencies for tests development - BEGIN }}
    "@faker-js/faker": "^8.4.1",
    "@types/jest": "^26.0.15",
    "jest": "^26.6.3",
    "prettier": "^1.18.2",
    "ts-jest": "^26.4.4",
    "dotenv": "^16.4.5",
    {{! Added dependencies for tests development - END }}
    "@types/node": "12.11.5 - 12.20.42",
    "typescript": "^4.0 || ^5.0"
  },
  {{! Updated block for package delivery }}
  "publishConfig": {
    "access": "public"
  }
}
